body {
    background: url('wodd.png');
    background-size: auto;
    /* font-family: 'Grenze', serif; */
    /* font-family: 'Alfa Slab One', cursive;; */
    /* background-color: rgb(173, 173, 173); */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 30px;
}

#card {
    background-image: url(cover.png);
    background-size: cover;
    color: wheat;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 300px;
    width: 269px;
    text-align: center;
    background-color: transparent;
    position: relative;
    border-radius: 9px;
}

.content {
    overflow-wrap: break-word;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
}

button {
    background-color: tomato;
    border-style: none;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition-duration: 0.1s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
  }

.readButton {
    background-color: rgb(107, 201, 207);
    position: absolute;
    bottom: 20px;
    right: 39px;
}

.deleteButton {
    background-color: lightpink;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#input-field {
    display: none;
    padding-bottom: 30px;
}

.input-block {
    display: inline-block;
    padding-bottom: 30px;
}